[Desktop Entry]
Name=Power Management Inhibition
Name[nl]=Energiebeheerondebreking
Name[uk]=Блокування керування живленням
Description=See information about power management inhibition
Description[nl]=Bekijk informatie omtrent energiebeheeronderbreking
Description[uk]=Перегляньте інформацію про блокування керування живленням
Keywords=Power Management;Inhibition;Battery;System;Energy;
Keywords[nl]=Energiebeheer;Onderbreking;Accu;Batterij;Systeem;Energie;
Keywords[uk]=Power Management;Inhibition;Battery;System;Energy;керування живленням;акумулятор;система;енергія;батарея;живлення;
Icon=exception
Type=Service
X-KDE-FormFactors=desktop
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Eugene Popov
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Email=popov895@ukr.net
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasma.pminhibition
X-KDE-PluginInfo-Version=1.8
X-Plasma-API=declarativeappletscript
X-Plasma-DBusActivationService=org.kde.Solid.PowerManagement
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
